@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model CarVM;

@{
    ViewData["Title"] = "Add";
}

<h3>Add a new car</h3>
<hr />
<form asp-action="Create" class="card">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label>Enter the registation of the car:</label>
                    <br />
                    <label>Town code:</label>
                    <div class="input-group">
                        <select class="form-select" asp-items="Model.Towns" asp-for="SelectedTownId"></select>

                        <input asp-for="CarRegNumbers" class="form-control" placeholder="Numbers:" />
                        <span asp-validation-for="CarRegNumbers" class="text-danger"></span>

                        <input asp-for="CarRegLastDigits" class="form-control" placeholder="Last digits:" />
                        <span asp-validation-for="CarRegLastDigits" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-group">
                    <label>Select the car's brand</label>
                    <select asp-for="Brand" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(CarBrands))"></select>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="Model" class="form-control" placeholder="Enter the car's model:" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label>Select the car's color</label>
                    <select asp-for="Color" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(Colors))"></select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label>Select the year of manifacture of the car</label>
                    <select asp-for="YearOfManifacture" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(YearsOfManifacture))"></select>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="EngineNum" class="form-control" placeholder="Enter the car's engine number:" minlength="10" maxlength="10" />
                    <span asp-validation-for="EngineNum" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="FrameNum" class="form-control" placeholder="Enter the car's VIN:" minlength="17" maxlength="17" />
                    <span asp-validation-for="FrameNum" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-8">
                        <label for="WorkingVolume">Enter the car's working volume:</label>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input asp-for="WorkingVolume" class="form-control" />
                            <span asp-validation-for="WorkingVolume" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-outline w-100">
                    <textarea asp-for="Description" class="form-control" placeholder="Enter description for the car: (optional)" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="OwnerName" class="form-control" placeholder="Enter the full name of the owner:" />
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="OwnerPhoneNum" class="form-control" maxlength="11" placeholder="Enter the phone number of the owner:" />
                    <span asp-validation-for="OwnerPhoneNum" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 align-items-center">
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-5"></div>
        </div>
        <br />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-info">Back to all cars.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
