@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model CreateEditCarVM;

@{
    ViewData["Title"] = "Add";
}

<h3>Adding new car</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <select asp-items="Model.Towns" asp-for="SelectedTownId">Town codes</select>
            </div>
            <div class="form-group">
                <label asp-for="CarRegNumbers" class="control-label">Numbers</label>
                <input asp-for="CarRegNumbers" class="form-control" />
                <span asp-validation-for="CarRegNumbers" class="text-danger"></span>
                <label asp-for="CarRegLastDigits" class="control-label">Last letters</label>
                <input asp-for="CarRegLastDigits" class="form-control" />
                <span asp-validation-for="CarRegLastDigits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand">Brand</label>
                <select asp-for="Brand" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(CarBrands))">
                    <option value="Select brand">Select brand</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Car model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfManifacture">Year of manifacture</label>
                <select asp-for="YearOfManifacture" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(YearsOfManifacture))">
                    <option value="Select year of manifacture">Select year of manifacture</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="EngineNum" class="control-label">Engine number</label>
                <input asp-for="EngineNum" class="form-control" />
                <span asp-validation-for="EngineNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrameNum" class="control-label">Frame number</label>
                <input asp-for="FrameNum" class="form-control" />
                <span asp-validation-for="FrameNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color">Color of the car</label>
                <select asp-for="Color" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(Colors))">
                    <option value="Select color">Select color</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingVolume" class="control-label">Working volume</label>
                <input asp-for="WorkingVolume" class="form-control" />
                <span asp-validation-for="WorkingVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label">Owner's name</label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerPhoneNum" class="control-label">Owner's phone number</label>
                <input asp-for="OwnerPhoneNum" class="form-control" />
                <span asp-validation-for="OwnerPhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to all cars.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
