@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model CarVM;

@{
    ViewData["Title"] = "Edit";
}

<h3>Editing car @Model.CarRegistration</h3>
<hr />
<form asp-action="Edit" class="card">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CarId" />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label asp-for="CarRegistration" class="control-label">Car registration</label>
                    <input asp-for="CarRegistration" class="form-control" disabled />
                    <span asp-validation-for="CarRegistration" class="text-danger"></span>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-group">
                    <select asp-for="Brand" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(CarBrands))">
                        <option value="" selected disabled>Select the car's brand</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="Model" class="form-control" placeholder="Enter the car's model:" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <select asp-for="Color" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(Colors))">
                        <option value="" selected disabled>Select the car's color</option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <select asp-for="YearOfManifacture" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(YearsOfManifacture))">
                        <option value="" selected disabled>Select the year of manifacture of the car</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="EngineNum" class="form-control" placeholder="Enter the car's engine number:" />
                    <span asp-validation-for="EngineNum" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="FrameNum" class="form-control" placeholder="Enter the car's VIN:" />
                    <span asp-validation-for="FrameNum" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-8">
                        <label for="WorkingVolume">Enter the car's working volume:</label>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input asp-for="WorkingVolume" class="form-control" />
                            <span asp-validation-for="WorkingVolume" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-outline w-100">
                    <textarea asp-for="Description" class="form-control" placeholder="Enter description for the car: (optional)" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="OwnerName" class="form-control" placeholder="Enter the full name of the owner:" />
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input asp-for="OwnerPhoneNum" class="form-control" maxlength="11" placeholder="Enter the phone number of the owner:" />
                    <span asp-validation-for="OwnerPhoneNum" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 align-items-center">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-5"></div>
        </div>
        <br />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-info">Back to all cars.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
