@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model PartVM;

@{
    ViewData["Title"] = "Create";
}

<h3>Add a new part</h3>
<hr />
<div class="row">
    <div class="col-md-4 card">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <input asp-for="PartName" class="form-control" placeholder="Enter the part's name:" />
                <span asp-validation-for="PartName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <select asp-for="TypeOfRepair" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(TypeOfRepairs))">
                    <option value="" selected disabled>Select the part's type of repair</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="Quantity">Enter the part's quantity:</label>
                <input asp-for="Quantity" class="form-control" maxlength="3" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="Price">Enter the part's price:</label>
                <input asp-for="Price" class="form-control" maxlength="5" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="WorkingHours">Enter the part's working hours:</label>
                <input asp-for="WorkingHours" class="form-control" maxlength="2" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="Index">Back to all parts.</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
