@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model IndexVMs;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="References">
    <select name="criteria">
        <option value="all">All repair cards</option>
        <option value="startDate">Start date</option>
        <option value="endDate">End date</option>
        <option value="unfinishedRepair">Unfinished repairs</option>
    </select>
    <div id="container">
        <partial name="_IndexReferences.cshtml" model="@Model" />
    </div>
</form>


@section Scripts{
    <script>

        $(function () {
            $("#criteria").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/Home/References?type=" + $(this).val(),  //remember change the controller to your owns.
                    success: function (data) {
                        $("#container").html("");
                        $("#container").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
    </script>
}