@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model IndexVMs;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="References">
    <div class="form-group">
        <label asp-for="Criteria">Criteria</label>
        <select asp-for="Criteria" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(Criteria))">
            <option value="All">All repair cards</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StartEndDate">Start or end date</label>
        <select asp-for="StartEndDate" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(StartEndDate))">
            <option value="Start date">Start date</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select asp-items="Model.CarRegistrations" asp-for="SelectedCarId"></select>
    </div>
    <input type="submit" value="Filter"/>
    <div id="container">
        <partial name="_IndexReferences.cshtml" model="@Model" />
    </div>
</form>


@*@section Scripts{
    <script>

        $(function () {
            $("#criteria").change(function () {
                $.ajax({
                    type: "Get",
                    url: "/RepairCards/References?type=" + $(this).val(),  //remember change the controller to your owns.
                    success: function (data) {
                        $("#container").html("");
                        $("#container").html(data);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            });
        });
    </script>
}*@