@using CarRepairShop.Common;
@using CarRepairShop.ViewModels;
@model RepairCardVM;

@{
    ViewData["Title"] = "Select type of repair";
}

<form asp-action="SelectRepair">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 align-items-center">
                <div class="form-group">
                    <label asp-for="TypeOfRepair">Select type of repair</label>
                    <select asp-for="TypeOfRepair" class="form-select" 
                     asp-items="@Html.GetEnumSelectList(typeof(TypeOfRepairs))"></select>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 align-items-center">
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>

